
<div  style="margin-top: 70px">
    <div class="container">
        <form action="#" class="form-horizontal">
            <div class="form-group out-manager-member">
                <label class="col-xs-4 control-label text-left" style="padding-top: 7px;font-size: 14px">转出的成员</label>
                <div class="col-xs-8">
                    <input  type="text" ng-model="inputName" ng-focus="infocus=true" ng-change="searchName()" class="form-control"/>
                </div>
                <ul ng-show="showName" style="overflow: scroll;height: 200px">
                  <li ng-repeat="info in result track by $index">
                    <p class="text-left" ng-click="selectedName(info)" style="margin-bottom: 5px" ng-bind-html="toHtml(info.nameStr)"></p>
                  </li>
                </ul>
            </div>
            <div class="form-group out-manager-member">
                <label class="col-xs-4 control-label text-left" style="padding-top: 7px;font-size: 14px">转出至</label>
                <div class="col-xs-8">
                    <input  type="text" name="inputSchool" ng-model="inputSchool" ng-focus="infocus=true" ng-change="searchSchool()" class="form-control"/>
                </div>
                <ul ng-show="showSchool" style="overflow: scroll;height: 200px">
                    <li ng-repeat="info in result track by $index">
                        <p class="text-left" ng-click="selectedSchool(info)" style="margin-bottom: 5px" ng-bind-html="toHtml(info.nameStr)"></p>
                    </li>
                </ul>
            </div>
        </form>
      <div ng-show="showInfo">
        <div  class="text-center" style="padding-top: 20px">
          <img src="/app/images/header.jpg" class="img-rounded"/><br/>
          <div style="padding-top: 10px;font-weight: bold">{{adminInfo.name}}</div>
          <div>{{adminInfo.mobileNo}}</div>
        </div>
        <button modal-btn data-modal="out-manager-modal" class="btn btn-primary btn-lg" style="width: 100%">确认提交申请</button>
      </div>
    </div>
    <h5>最近转出记录</h5>
    <div ng-repeat="item in outManageList" class="admin-application-list w-container-list">
        <div class="admin-application-info">
            <div>
                <img src="/szwx-project/app/images/header.jpg" width="70%" height="80px"/><br/>
                <span>{{item.userName}}</span>
            </div>
            <div>
                <p>
                    你申请{{item.userName}}成为{{item.inOrgName}}管理员
                </p>
              <p ng-if="item.status == 0">
                审批状态:审核中
              </p>
                <p ng-if="item.status == 1">
                    审批状态:通过
                </p>
                <p ng-if="item.status == 2">
                  审批状态:不通过
                </p>
                <p>
                    {{item.applyTime | date: 'yyyy-MM-dd'}}
                </p>
            </div>
        </div>
    </div>
    <div id="out-manager-modal" style="margin-top: 150px" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel1">操作确认</h4>
                </div>
                <div class="modal-body">
                    确认审核同意？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button  type="button" class="btn btn-primary" data-dismiss="modal" ng-click="transferOut()">确认</button>
                </div>
            </div>
        </div>
    </div>
</div>
